In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('Billboard-Weekly-Songs-With-Song-And-Artist-Spotify-Popularity.csv')
data2=pd.read_csv('Billboard-Yearly-Chart-With-Spotify-Popularity-Of-Song-And-Artist.csv')
data3=pd.read_csv('Hollywood-Music-WCBS-Ranking.csv')

In [3]:
data.head(5)
data.shape
data

,date,Rank,Title,Artist,Weeks on chart,year,Spotify_Popularity,Artist_Popularity
0,1955-01-01,1,Poor Little Fool,Ricky Nelson,1.0,1955,-1,56
1,1955-01-01,2,Patricia,Perez Prado And His Orchestra,NaN,1955,-1,12
2,1955-01-01,3,Splish Splash,Bobby Darin,NaN,1955,-1,62
3,1955-01-01,4,Hard Headed Woman,Elvis Presley With The Jordanaires,NaN,1955,-1,-1
4,1955-01-01,5,When,Kalin Twins,NaN,1955,-1,24
...,...,...,...,...,...,...,...,...
300595,2017-12-22,96,Faking It,Calvin Harris Featuring Kehlani & Lil Yachty,3.0,2017,-1,-1
300596,2017-12-22,97,Marry Me,Thomas Rhett,15.0,2017,75,78
300597,2017-12-22,98,Five More Minutes,Scotty McCreery,15.0,2017,65,66
300598,2017-12-22,99,Criminal,Natti Natasha x Ozuna,15.0,2017,-1,-1
300599,2017-12-22,100,Sauce It Up,Lil Uzi Vert,15.0,2017,74,89

In [4]:
data2.head(5)
data2.shape
data2
data3.head(5)
data3.shape
data3

,Unnamed: 0,Rank,Year,Artist,Song1,Chart_Year
0,0,1,1956,The Five Satins,In The Still Of The Nite,1995
1,1,2,1954,The Penguins,Hey Senorita,1995
2,2,3,1961,Elvis Presley,Can't Help Falling In Love,1995
3,3,4,1965,The Righteous Brothers,Hung On You,1995
4,4,5,1957,Mello-Kings,"Tonite, Tonite",1995
...,...,...,...,...,...,...
7985,993,495,1962,The Exciters,Hard Way To Go,1973
7986,994,496,1968,The Box Tops,The Door You Closed To Me,1973
7987,995,497,1965,The Beatles,I'm Down,1973
7988,996,498,1970,George Harrison,Isn't It A Pity,1973
7989,997,499,1967,The 5th Dimension,Which Way To Nowhere,1973

In [5]:
data2

,year,Rank,Artist,Title,Spotify_Popularity,Artist_Popularity
0,1960,1,Percy Faith,Theme From “A Summer Place”,52,52
1,1960,2,Jim Reeves,He’ll Have To Go,-1,60
2,1960,3,Everly Brothers,Cathy’s Clown,-1,62
3,1960,4,Johnny Preston,Running Bear,-1,34
4,1960,5,Mark Dinning,Teen Angel,-1,22
...,...,...,...,...,...,...
5295,2012,96,Kip Moore,Somethin’ ‘Bout A Truck,65,68
5296,2012,97,Miguel,Adorn,64,84
5297,2012,98,Jason Aldean,Fly Over States,61,78
5298,2012,99,Eli Young Band,Even If It Breaks Your Heart,66,65
5299,2012,100,Linkin Park,Burn It Down,71,86

In [6]:
data = data2.loc[:,['Title','Artist','Spotify_Popularity','Artist_Popularity','year']]

In [7]:
data

,Title,Artist,Spotify_Popularity,Artist_Popularity,year
0,Theme From “A Summer Place”,Percy Faith,52,52,1960
1,He’ll Have To Go,Jim Reeves,-1,60,1960
2,Cathy’s Clown,Everly Brothers,-1,62,1960
3,Running Bear,Johnny Preston,-1,34,1960
4,Teen Angel,Mark Dinning,-1,22,1960
...,...,...,...,...,...
5295,Somethin’ ‘Bout A Truck,Kip Moore,65,68,2012
5296,Adorn,Miguel,64,84,2012
5297,Fly Over States,Jason Aldean,61,78,2012
5298,Even If It Breaks Your Heart,Eli Young Band,66,65,2012
5299,Burn It Down,Linkin Park,71,86,2012

In [8]:
data['Title'] = data['Title'].replace(np.nan, 'unknown')
data['Artist'] = data['Artist'].replace(np.nan, 'unknown')

In [9]:
data['Title'] = data['Title'].str.lower()
data["Title"]
data.loc[data["Artist"]=='Linkin Park',['Title','Artist','Spotify_Popularity','Artist_Popularity','year']]
# data.to_csv('main_song.csv',index=False)

,Title,Artist,Spotify_Popularity,Artist_Popularity,year
4206,in the end,Linkin Park,83,86,2002
4432,numb,Linkin Park,81,86,2004
4478,breaking the habit,Linkin Park,64,86,2004
4737,what i’ve done,Linkin Park,-1,86,2007
4854,shadow of the day,Linkin Park,66,86,2008
4960,new divide,Linkin Park,67,86,2009
5299,burn it down,Linkin Park,71,86,2012

In [10]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import sys

def create_similarity():
    data = pd.read_csv('main_song.csv')
    # creating a count matrix or count vectorizer matrix(all tf-idf stuff)
    cv = CountVectorizer()
    count_matrix = cv.fit_transform(data['Artist'])
    # creating a similarity score matrix
    similarity = cosine_similarity(count_matrix)
    return data,similarity

def rcmd(m):
    m = m.lower()
    try:
        data.head()
        similarity.shape
    except:
        data, similarity = create_similarity()
    if m not in data['Title'].unique():
        return('Sorry! The song you requested is not in our database. Please check the spelling or try with some other movies')
    else:
        i = data.loc[data['Title']==m].index[0]


        lst = list(enumerate(similarity[i]))
        lst = sorted(lst, key = lambda x:x[1] ,reverse=True)
        lst = lst[1:11] # excluding first item since it is the requested movie itself
        l = []

        for i in range(len(lst)):
            a = lst[i][0]
            l.append(data['Title'][a])
        return l

In [11]:
len(rcmd('burn it down'))
rcmd('burn it down')

['numb',
 'breaking the habit',
 'what i’ve done',
 'shadow of the day',
 'new divide',
 'burn it down',
 'numb/encore',
 'theme from “a summer place”',
 'he’ll have to go',
 'cathy’s clown']

In [12]:
data4=pd.read_csv('bollysong.csv', encoding = 'unicode_escape') #essential main dataset

In [13]:
data4 # recommendation will be based on these features only

,Song-Name,Singer/Artists,Genre,Album/Movie,User-Rating
0,Aankh Marey,"Kumar Sanu, Mika Singh, Neha Kakkar",BollywoodDance,Simmba,8.8/10
1,Coca Cola,"Neha Kakkar, Tony Kakkar",BollywoodDanceRomantic,Luka Chuppi,9.0/10
2,Apna Time Aayega,Ranveer Singh,BollywoodDance,Gully Boy,9.7/10
3,Mungda,"Jyotica Tangri, Shaan, Subhro Ganguly",BollywoodDance,Total Dhamaal,9.1/10
4,Tere Bin,"Asees Kaur, Rahat Fateh Ali Khan, Tanishk Bagchi",BollywoodRomantic,Simmba,9.2/10
...,...,...,...,...,...
2415,Jana Tumhare Pyar Mein,Mukesh,BollywoodDance,Sasural,10-Oct
2416,Tum Jaise Bigde Babu Se,Lata Mangeshkar,BollywoodDance,Jab Pyar Kisi Se Hota Hai,10-Oct
2417,O Yaad Nahi Bhool Gaya,"Lata Mangeshkar, Suresh Wadkar",BollywoodDance,Lamhe,10-Oct
2418,Ladi Re Ladi Tujhse Aankh Jo Ladi,Jagjit Kaur,BollywoodDance,Shola Aur Shabnam,10-Oct
2419,Mummy Aur Daddy Mein Ladai Ho Gayi,Asha Bhosle,BollywoodDance,Shola Aur Shabnam,6.6/10

In [14]:
data4["Song-Name"]

0                              Aankh Marey
1                                Coca Cola
2                         Apna Time Aayega
3                                   Mungda
4                                 Tere Bin
                       ...
2415                Jana Tumhare Pyar Mein
2416               Tum Jaise Bigde Babu Se
2417                O Yaad Nahi Bhool Gaya
2418     Ladi Re Ladi Tujhse Aankh Jo Ladi
2419    Mummy Aur Daddy Mein Ladai Ho Gayi
Name: Song-Name, Length: 2420, dtype: object

In [15]:
data4.head(10)

,Song-Name,Singer/Artists,Genre,Album/Movie,User-Rating
0,Aankh Marey,"Kumar Sanu, Mika Singh, Neha Kakkar",BollywoodDance,Simmba,8.8/10
1,Coca Cola,"Neha Kakkar, Tony Kakkar",BollywoodDanceRomantic,Luka Chuppi,9.0/10
2,Apna Time Aayega,Ranveer Singh,BollywoodDance,Gully Boy,9.7/10
3,Mungda,"Jyotica Tangri, Shaan, Subhro Ganguly",BollywoodDance,Total Dhamaal,9.1/10
4,Tere Bin,"Asees Kaur, Rahat Fateh Ali Khan, Tanishk Bagchi",BollywoodRomantic,Simmba,9.2/10
5,Gali Gali,Neha Kakkar,BollywoodDance,KGF,9.1/10
6,Chamma Chamma,"Arun, Ikka, Neha Kakkar, Romy",BollywoodDance,Fraud Saiyaan,9.2/10
7,Mere Gully Mein,Ranveer Singh,BollywoodDance,Gully Boy,9.5/10
8,Kamariya,Darshan Raval,BollywoodDance,Mitron,9.2/10
9,Ek Ladki Ko Dekha Toh Aisa Laga,"Darshan Raval, Rochak Kohli",BollywoodRomantic,Ek Ladki Ko Dekha Toh Aisa Laga,9.6/10

In [16]:
data4['Song-Name'] = data4['Song-Name'].replace(np.nan, 'unknown')
data4['Singer/Artists'] = data4['Singer/Artists'].replace(np.nan, 'unknown')
data4['Genre'] = data4['Genre'].replace(np.nan, 'unknown')
data4['Album/Movie'] = data4['Album/Movie'].replace(np.nan, 'unknown')
data4['User-Rating'] = data4['User-Rating'].replace(np.nan, 'unknown')

In [17]:
data4['Song-Name'] = data4['Song-Name'].str.lower()
data4['Singer/Artists'] = data4['Singer/Artists'].str.lower()
data4['Genre'] = data4['Genre'].str.lower()
data4['Album/Movie'] = data4['Album/Movie'].str.lower()

In [18]:
data4['comb'] = data4['Song-Name'] + ' ' + data4['Singer/Artists'] + ' ' + data4['Song-Name'] + ' ' + data4['Album/Movie'] + ' ' + data4['Genre']

In [21]:
data4['Song-Name'][0]
data4

,Song-Name,Singer/Artists,Genre,Album/Movie,User-Rating,comb
0,aankh marey,"kumar sanu, mika singh, neha kakkar",bollywooddance,simmba,8.8/10,"aankh marey kumar sanu, mika singh, neha kakka..."
1,coca cola,"neha kakkar, tony kakkar",bollywooddanceromantic,luka chuppi,9.0/10,"coca cola neha kakkar, tony kakkar coca cola l..."
2,apna time aayega,ranveer singh,bollywooddance,gully boy,9.7/10,apna time aayega ranveer singh apna time aayeg...
3,mungda,"jyotica tangri, shaan, subhro ganguly",bollywooddance,total dhamaal,9.1/10,"mungda jyotica tangri, shaan, subhro ganguly m..."
4,tere bin,"asees kaur, rahat fateh ali khan, tanishk bagchi",bollywoodromantic,simmba,9.2/10,"tere bin asees kaur, rahat fateh ali khan, tan..."
...,...,...,...,...,...,...
2415,jana tumhare pyar mein,mukesh,bollywooddance,sasural,10-Oct,jana tumhare pyar mein mukesh jana tumhare pya...
2416,tum jaise bigde babu se,lata mangeshkar,bollywooddance,jab pyar kisi se hota hai,10-Oct,tum jaise bigde babu se lata mangeshkar tum ja...
2417,o yaad nahi bhool gaya,"lata mangeshkar, suresh wadkar",bollywooddance,lamhe,10-Oct,"o yaad nahi bhool gaya lata mangeshkar, suresh..."
2418,ladi re ladi tujhse aankh jo ladi,jagjit kaur,bollywooddance,shola aur shabnam,10-Oct,ladi re ladi tujhse aankh jo ladi jagjit kaur ...
2419,mummy aur daddy mein ladai ho gayi,asha bhosle,bollywooddance,shola aur shabnam,6.6/10,mummy aur daddy mein ladai ho gayi asha bhosle...

In [20]:
data4.to_csv('song-data-preprocessed1.csv',index=False)